@model SeriesResult

@{
    ViewBag.Title = "Popular Series";
}

<h2>Popular Series</h2>
<div class="row">
    <form class="form-check-inline my-2 my-lg-0" asp-controller="Series" asp-action="Filter" style="padding-right: 25px;">
        <input name="searchString" type="text" class="form-control" placeholder="Search for a series..." aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-success my-2 my-lg-0 float-end" type="submit" style="margin-top: 10px;"><i class="bi bi-search"> Search</i></button>
    </form>
</div>
<div class="row">

    @foreach (var i in Model.results)
    {
        <div class="col-md-3 col-xs-6 border-primary mb-3">
            <div class="card mb-4" style="max-width: 525px;">
                <div class="row g-2">
                    <div>
                        <a asp-action="SeriesDetails" asp-route-id="@i.id">
                            <img class="text-center" src="@i.poster_path" width="100%" style="border-radius:20px" />
                            <h4 class="text-center">@i.name</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }

</div>


